<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nicholaspufal.passwordgenerator</string>
	<key>category</key>
	<string>Security</string>
	<key>connections</key>
	<dict>
		<key>169A770C-1F88-47F2-9C04-B7310AC8B002</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B46A416-12D2-49FF-90AB-6A265F56C7EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B46A416-12D2-49FF-90AB-6A265F56C7EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E56804F4-1D53-403B-A800-8852FF2185F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7FEEBB7F-7C0B-45C2-A7AF-C1EF2DB41A3F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nicholas Pufal</string>
	<key>description</key>
	<string>A simple password generator that doesn't rely on having an active internet connection. It's simple, fast and efficient. By default it generates a password with 15 characters - but you can overwrite this setting by providing a number when calling it. The recipe for the passwords include lower case and upper case letters, numbers and a couple of symbols.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Password Generator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Password copied to the clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E56804F4-1D53-403B-A800-8852FF2185F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby random_password.rb {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6B46A416-12D2-49FF-90AB-6A265F56C7EC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>genpass</string>
				<key>subtext</key>
				<string>Default password length is 14 - provide an integer as argument to overwrite it</string>
				<key>text</key>
				<string>Password Generator</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>169A770C-1F88-47F2-9C04-B7310AC8B002</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7FEEBB7F-7C0B-45C2-A7AF-C1EF2DB41A3F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>169A770C-1F88-47F2-9C04-B7310AC8B002</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>6B46A416-12D2-49FF-90AB-6A265F56C7EC</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>7FEEBB7F-7C0B-45C2-A7AF-C1EF2DB41A3F</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>E56804F4-1D53-403B-A800-8852FF2185F7</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/nicholaspufal</string>
</dict>
</plist>
