<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.andrew.gettingstarted.streamorder</string>
	<key>connections</key>
	<dict>
		<key>1B421EC0-9946-4AF7-8DCA-ACB4C4CB3E1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>94D2413E-BAA5-40CE-864D-E82A1DFE421E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1BBF4ACD-68D3-49EA-91D2-A0ADCEA9C24A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61D0C7F8-CA6B-4E05-8A5C-88B1BB8769B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8EEB30B5-AD43-4AAF-9A7F-CCFF42E36448</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D72DD488-8207-4EF1-8DDC-57EBF1FC8B06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E95A68F0-BF69-42B2-BE44-F9EAF1074BF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21C2E53C-C9A8-4F29-B063-10A70365D94A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81A43C19-2E00-4657-88C2-069B6F24F030</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21E90A64-A23A-44EE-97D6-311A0956F19B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31118E4C-5C83-4875-836A-CDFB34572E36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AE8F1E4-4B66-4032-9FD2-086A442F7B16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E648993-BFD5-4A6B-8919-372353052A58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E648993-BFD5-4A6B-8919-372353052A58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C90BAF76-FF4A-4761-BFF6-9D6DDB13F2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E99790C-9418-4C5E-8A78-72F178EE12A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>495F9137-E244-471C-8E76-137AB39E8BE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31118E4C-5C83-4875-836A-CDFB34572E36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9310831-C396-452D-AAA2-50722EF08DF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2AE8F1E4-4B66-4032-9FD2-086A442F7B16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2E99790C-9418-4C5E-8A78-72F178EE12A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31D0DBD6-1984-403C-9215-E73FF83B90FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCAE5F82-0DE7-4E7C-BC3A-2D4B2087452A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C9D7A89-E2F8-45B1-8E38-16F64359F0AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C90BAF76-FF4A-4761-BFF6-9D6DDB13F2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FF0D292-EB61-4158-AEB7-852435DAB9DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BBF4ACD-68D3-49EA-91D2-A0ADCEA9C24A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>495F9137-E244-471C-8E76-137AB39E8BE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C90BAF76-FF4A-4761-BFF6-9D6DDB13F2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CE8E37F-52DA-4127-81FF-FFC59B380E17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81A43C19-2E00-4657-88C2-069B6F24F030</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>709BE25B-A46A-4F79-BAA6-66DEC3110034</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21C2E53C-C9A8-4F29-B063-10A70365D94A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81A43C19-2E00-4657-88C2-069B6F24F030</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>850B0A40-03D3-469B-B0F7-1C47F855528E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>94D2413E-BAA5-40CE-864D-E82A1DFE421E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31D0DBD6-1984-403C-9215-E73FF83B90FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>709BE25B-A46A-4F79-BAA6-66DEC3110034</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C60DE8D2-A0E6-43EF-B1B5-C8289B2185E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C60DE8D2-A0E6-43EF-B1B5-C8289B2185E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CE8E37F-52DA-4127-81FF-FFC59B380E17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C90BAF76-FF4A-4761-BFF6-9D6DDB13F2E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EEB1755-2443-48D0-A26F-7CE9C2630078</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9310831-C396-452D-AAA2-50722EF08DF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C9D7A89-E2F8-45B1-8E38-16F64359F0AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCAE5F82-0DE7-4E7C-BC3A-2D4B2087452A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81A43C19-2E00-4657-88C2-069B6F24F030</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Pepperrell</string>
	<key>description</key>
	<string>This workflow shows how Alfred chooses which output to run next. Show the debugger to see the output</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Stream Order - Getting Started</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream 1</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>61D0C7F8-CA6B-4E05-8A5C-88B1BB8769B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>streams</string>
				<key>subtext</key>
				<string>Streams are executed in connected object Y position order</string>
				<key>text</key>
				<string>Understanding execution order</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3FF0D292-EB61-4158-AEB7-852435DAB9DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream 2</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>8EEB30B5-AD43-4AAF-9A7F-CCFF42E36448</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Testing streams with Y order, runs top object down</string>
				<key>cleardebuggertext</key>
				<true/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>1BBF4ACD-68D3-49EA-91D2-A0ADCEA9C24A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream 3</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>D72DD488-8207-4EF1-8DDC-57EBF1FC8B06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream 4</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>E95A68F0-BF69-42B2-BE44-F9EAF1074BF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>1</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D9310831-C396-452D-AAA2-50722EF08DF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream {query}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>3C9D7A89-E2F8-45B1-8E38-16F64359F0AF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>streamj</string>
				<key>subtext</key>
				<string>A juntion passes through immediately (watch output in workflow debugger)</string>
				<key>text</key>
				<string>Understanding execution order - Junction</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>21E90A64-A23A-44EE-97D6-311A0956F19B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>2</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2AE8F1E4-4B66-4032-9FD2-086A442F7B16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>C90BAF76-FF4A-4761-BFF6-9D6DDB13F2E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream {query}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>2E648993-BFD5-4A6B-8919-372353052A58</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Testing streams with a junction, which runs to completion</string>
				<key>cleardebuggertext</key>
				<true/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>31118E4C-5C83-4875-836A-CDFB34572E36</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream {query} continued</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>1EEB1755-2443-48D0-A26F-7CE9C2630078</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream {query}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>495F9137-E244-471C-8E76-137AB39E8BE5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>3</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2E99790C-9418-4C5E-8A78-72F178EE12A1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>1</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>31D0DBD6-1984-403C-9215-E73FF83B90FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream {query}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>FCAE5F82-0DE7-4E7C-BC3A-2D4B2087452A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>streamd</string>
				<key>subtext</key>
				<string>A delay yields back to the workflow (watch output in workflow debugger)</string>
				<key>text</key>
				<string>Understanding execution order - Delay</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B421EC0-9946-4AF7-8DCA-ACB4C4CB3E1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream {query} continued</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>850B0A40-03D3-469B-B0F7-1C47F855528E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream {query}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>21C2E53C-C9A8-4F29-B063-10A70365D94A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>81A43C19-2E00-4657-88C2-069B6F24F030</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>2</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>709BE25B-A46A-4F79-BAA6-66DEC3110034</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Testing streams with a delay of zero, which yields execution</string>
				<key>cleardebuggertext</key>
				<true/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>94D2413E-BAA5-40CE-864D-E82A1DFE421E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>3</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C60DE8D2-A0E6-43EF-B1B5-C8289B2185E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>Stream {query}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>5CE8E37F-52DA-4127-81FF-FFC59B380E17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>The objective of this workflow is to help you understand the order in which objects are processed. 

Before using the workflow keywords, click the "Debug" icon in the top right, so that the debugger panel appears at the bottom of the window. This will allow you to see the output of each script.

Type the keyword for each of the sub-workflows to see the order in which objects are processed, and how the delay utility affects the order of actions.</string>
	<key>uidata</key>
	<dict>
		<key>1B421EC0-9946-4AF7-8DCA-ACB4C4CB3E1C</key>
		<dict>
			<key>note</key>
			<string>Show the debugger and type 'streamd' to see how the delay causes execution to yield back to the workflow</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>1BBF4ACD-68D3-49EA-91D2-A0ADCEA9C24A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>1EEB1755-2443-48D0-A26F-7CE9C2630078</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>21C2E53C-C9A8-4F29-B063-10A70365D94A</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>21E90A64-A23A-44EE-97D6-311A0956F19B</key>
		<dict>
			<key>note</key>
			<string>Show the debugger and type 'streamj' to see how each stream flows to completion through the junction</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>2AE8F1E4-4B66-4032-9FD2-086A442F7B16</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>2E648993-BFD5-4A6B-8919-372353052A58</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>2E99790C-9418-4C5E-8A78-72F178EE12A1</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>31118E4C-5C83-4875-836A-CDFB34572E36</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>31D0DBD6-1984-403C-9215-E73FF83B90FA</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>3C9D7A89-E2F8-45B1-8E38-16F64359F0AF</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>3FF0D292-EB61-4158-AEB7-852435DAB9DC</key>
		<dict>
			<key>note</key>
			<string>Show the debugger, then type 'streams' into Alfred to see how outputs are run in Y height order</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>495F9137-E244-471C-8E76-137AB39E8BE5</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>5CE8E37F-52DA-4127-81FF-FFC59B380E17</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>61D0C7F8-CA6B-4E05-8A5C-88B1BB8769B8</key>
		<dict>
			<key>note</key>
			<string>1st</string>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>709BE25B-A46A-4F79-BAA6-66DEC3110034</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>81A43C19-2E00-4657-88C2-069B6F24F030</key>
		<dict>
			<key>note</key>
			<string>A delay of zero, which yields execution back to the workflow</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>850B0A40-03D3-469B-B0F7-1C47F855528E</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>8EEB30B5-AD43-4AAF-9A7F-CCFF42E36448</key>
		<dict>
			<key>note</key>
			<string>2nd</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>94D2413E-BAA5-40CE-864D-E82A1DFE421E</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>C60DE8D2-A0E6-43EF-B1B5-C8289B2185E7</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>C90BAF76-FF4A-4761-BFF6-9D6DDB13F2E0</key>
		<dict>
			<key>note</key>
			<string>A simple pass through junction</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>D72DD488-8207-4EF1-8DDC-57EBF1FC8B06</key>
		<dict>
			<key>note</key>
			<string>3rd</string>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D9310831-C396-452D-AAA2-50722EF08DF8</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>E95A68F0-BF69-42B2-BE44-F9EAF1074BF3</key>
		<dict>
			<key>note</key>
			<string>4th</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>FCAE5F82-0DE7-4E7C-BC3A-2D4B2087452A</key>
		<dict>
			<key>xpos</key>
			<integer>380</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
